@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Toastify Styles */
  --toastify-color-success: var(--color-green);
  --toastify-color-error: var(--color-red);
  --toastify-font-family: var(--font-futura), sans-serif;
}

@theme {
  /* Color Tokens */
  --color-white: #ffffff;
  --color-white-light: #f8f8f8;
  --color-white-off: #e6e6e6;
  --color-black: #2d2d2d;
  --color-black-light: #3d3d3d;
  --color-black-dark: #1d1d1d;
  --color-green: #00aa63;
  --color-green-alt: #4fc3a1;
  --color-red: #d53d3d;
  --color-red-alt: #d95050;
  --color-blue: #324960;
  --color-blue-alt: #475b70;
  --color-blue-light: #b3c8cf;
  --color-gray: #778899;
  --color-gray-light: #b6b8bd;
  --color-gray-dark: #494d59;
  --color-gray-hover: #6d717a;
  --color-status-blue: #1679AB;
  --color-status-orange: #FF7F3E;
  --color-placeholder: rgba(0, 0, 0, 0.5);
  --color-placeholder-light: rgba(255, 255, 255, 0.5);
  --color-menu: rgba(45, 45, 45, .8);
  --color-menu-light: rgba(255, 255, 255, .8);

  /* Theme Tokens */
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --table-odd: var(--color-white-light);
  --table-even: var(--color-white-off);
  --scrollbar: var(--color-gray-light);
  --context-menu-bg: var(--color-white-light);
  --placeholder-text: var(--color-placeholder-light);
  --h2-placeholder: var(--color-placeholder);
  --menu-background: var(--color-menu-light);

  /* Font Weights */
  --font-weight-default: 450;

  /* Breakpoints */
  --breakpoint-xxs: 20rem;
  --breakpoint-xs: 30rem;
}

@layer theme {
  .dark {
    --color-bg: var(--color-black);
    --color-fg: var(--color-white);
    --table-odd: var(--color-gray);
    --table-even: var(--color-blue-light);
    --scrollbar: var(--color-gray-dark);
    --context-menu-bg: var(--color-black-light);
    --placeholder-text: var(--color-placeholder);
    --h2-placeholder: var(--color-placeholder-light);
    --menu-background: var(--color-menu);
  }
}

@layer base {
  body {
    font-family: var(--font-futura), sans-serif;
  }
}